.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.8);
    z-index: 99;
}

.modalContentWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 500px;
    height: 400px;
    background-color: #fff;
    z-index: 100;
    transform: translate(50%,50%);
}